@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
  padding-top: 5vmin;
}

.App-link {
  color: #66d9ff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

.title {
  text-align: center;
  color: grey;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

footer {
  margin-top: 50px;
  text-align: center;
  color: grey;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

thead th {
  text-align: left;
  border-bottom: 2px solid grey;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

thead button.ascending::after {
  content: "👇";
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: "☝️";
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
  border: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #eee;
}
